version: '3'
services:
  app:
    image: "laserstack/app:${PHP_VERSION}"
    # build:
    #   context: ./docker/app
    #   dockerfile: Dockerfile
    cap_add:
      - SYS_ADMIN
    hostname: laser
    environment:
      LASER: 1
      MYSQL_DATABASE: '${DB_DATABASE}'
      MYSQL_ROOT_PASSWORD: '${DB_ROOT_PASSWORD}'
      MYSQL_USER: '${DB_USERNAME}'
      MYSQL_PASSWORD: '${DB_PASSWORD}'
    tty: true
    ports:
      - 80:80
    working_dir: /var/www
    volumes:
      - ${PROJECTS_DIRECTORY}:/var/www:cached
      - ./config/supervisord.${PHP_VERSION}/supervisord.conf:/etc/supervisord.conf:cached
      - ./config/nginx/nginx.conf:/etc/nginx/nginx.conf:cached
      - ./config/nginx/http.d:/etc/nginx/http.d:cached
      - ./config/php/php.ini:/etc/php81/php.ini:cached
      - ./config/php/php-fpm.conf:/etc/php81/php-fpm.conf:cached
      - ./config/php/php-fpm.d:/etc/php81/php-fpm.d:cached
    networks:
      - laser
  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3306:3306"
    volumes:
      - ./config/db:/etc/mysql/conf.d:cached
      - dbdata:/var/lib/mysql:delegated
    environment:
      LASER: 1
      MYSQL_DATABASE: '${DB_DATABASE}'
      MYSQL_ROOT_PASSWORD: '${DB_ROOT_PASSWORD}'
      MYSQL_USER: '${DB_USERNAME}'
      MYSQL_PASSWORD: '${DB_PASSWORD}'
    networks:
      - laser
    profiles:
      - mysql
  postgres:
    image: postgres:15.1-alpine
    ports:
      - 5432:5432
    volumes:
      - ./config/postgres:/etc/mysql/conf.d:cached
      - pgdata:/var/lib/mysql:delegated
    environment:
      LASER: 1
      POSTGRES_PASSWORD: '${POSTGRES_PASSWORD}'
      # POSTGRES_USER: '${POSTGRES_USER}'
      # POSTGRES_DB: '${POSTGRES_DB}'
      # POSTGRES_INITDB_ARGS: '${POSTGRES_INITDB_ARGS}'
      # POSTGRES_INITDB_WALDIR: '${POSTGRES_INITDB_WALDIR}'
      # POSTGRES_HOST_AUTH_METHOD: '${POSTGRES_HOST_AUTH_METHOD}'
    networks:
      - laser
    profiles:
      - postgres
  redis:
    image: redis:alpine
    ports:
      - 6379:6379
    environment:
      LASER: 1
    networks:
      - laser
    profiles:
      - redis
  memcached:
    image: memcached:alpine
    ports:
      - 11211:11211
    environment:
      LASER: 1
    networks:
      - laser
    profiles:
      - memcached
  elasticsearch:
    image: elasticsearch:7.14.2
    ports:
      - 9200:9200
      - 9300:9300
    environment:
      LASER: 1
      discovery.type: single-node
    networks:
      - laser
    profiles:
      - elasticsearch
      - full


volumes:
  dbdata:
    driver: local
  pgdata:
    driver: local


networks:
  laser:
    driver: bridge
