PROJECTS_DIRECTORY=./..
DB_DATABASE=laser
DB_USERNAME=laser
DB_PASSWORD=laser
DB_ROOT_PASSWORD=root

# PHP 8.0 or 8.1
PHP_VERSION=8.1

# DOCKER-COMPOSE PROFILES:
# list of additional containers you need comma separated:
# mysql, postgres, redis, elasticsearch
# examples:
# mysql and redis:      PROFILES=mysql,redis
# postgres and elastic: PROFILES=postgres,elasticsearch
PROFILES=mysql
