PROJECTS_DIRECTORY=./..

# PHP 7.4, 8.0, 8.1 or 8.2
PHP_VERSION=8.1

# MYSQL CONFIGURATION (see https://hub.docker.com/_/mysql )
DB_DATABASE=laser
DB_USERNAME=laser
DB_PASSWORD=laser
DB_ROOT_PASSWORD=root

# POSTGRES CONFIGURATION (see https://hub.docker.com/_/postgres )
POSTGRES_PASSWORD=postgres
# POSTGRES_USER=postgres
# POSTGRES_DB=postgres
# POSTGRES_INITDB_ARGS=
# POSTGRES_INITDB_WALDIR=
# POSTGRES_HOST_AUTH_METHOD=

# DOCKER-COMPOSE PROFILES:
# list of additional containers you need comma separated:
# mysql, postgres, redis, memcached, elasticsearch
# examples:
# mysql and redis:          PROFILES=mysql,redis
# mysql and memcached:      PROFILES=mysql,memcached
# postgres and elastic:     PROFILES=postgres,elasticsearch
# mysql, redis and elastic: PROFILES=mysql,redis,elasticsearch
PROFILES=mysql,memcached
